USE [master]
GO
/****** Object:  Database [QLRAPCHIEUPHIM1]    Script Date: 3/9/2024 9:36:29 AM ******/
CREATE DATABASE [QLRAPCHIEUPHIM1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLRAPCHIEUPHIM1', FILENAME = N'D:\all i want for chrismas is you (ai goku cover)\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLRAPCHIEUPHIM1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLRAPCHIEUPHIM1_log', FILENAME = N'D:\all i want for chrismas is you (ai goku cover)\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLRAPCHIEUPHIM1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLRAPCHIEUPHIM1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLRAPCHIEUPHIM1]
GO
/****** Object:  Table [dbo].[DATVE]    Script Date: 3/9/2024 9:36:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATVE](
	[MADATVE] [int] IDENTITY(1,1) NOT NULL,
	[MAXUATCHIEU] [int] NULL,
	[MAKH] [int] NULL,
	[NGAYDAT] [date] NULL,
	[MAGHE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADATVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DINHDANGPHIM]    Script Date: 3/9/2024 9:36:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DINHDANGPHIM](
	[MADP] [int] IDENTITY(1,1) NOT NULL,
	[DANGPHIM] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GHEPHONGCHIEU]    Script Date: 3/9/2024 9:36:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GHEPHONGCHIEU](
	[MAGHE] [int] IDENTITY(1,1) NOT NULL,
	[MAPHONG] [int] NULL,
	[TRANGTHAIGHE] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 3/9/2024 9:36:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[HOKH] [nvarchar](10) NULL,
	[TENLOTKH] [nvarchar](20) NULL,
	[TENKH] [nvarchar](10) NULL,
	[SDT] [char](20) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[user_id] [int] NULL,
	[GIOITINH] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHCHIEU]    Script Date: 3/9/2024 9:36:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHCHIEU](
	[MAXUATCHIEU] [int] IDENTITY(1,1) NOT NULL,
	[NGAYCHIEU] [date] NULL,
	[MAPHIM] [int] NULL,
	[MAPHONG] [int] NULL,
	[GIOCHIEU] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAXUATCHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 3/9/2024 9:36:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[HONV] [nvarchar](20) NULL,
	[TENLOTNV] [nvarchar](20) NULL,
	[TENNV] [nvarchar](10) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [char](20) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[LUONG] [int] NULL,
	[CA] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatistics]    Script Date: 3/9/2024 9:36:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatistics](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MADATVE] [int] NULL,
	[SOLUONGVE] [int] NULL,
	[TotalAmount] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIM]    Script Date: 3/9/2024 9:36:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIM](
	[MAPHIM] [int] IDENTITY(1,1) NOT NULL,
	[MALP] [int] NULL,
	[MADP] [int] NULL,
	[TENPHIM] [nvarchar](100) NULL,
	[NHASX] [nvarchar](100) NULL,
	[NgaySX] [date] NULL,
	[linkAnh] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGCHIEU]    Script Date: 3/9/2024 9:36:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGCHIEU](
	[MAPHONG] [int] IDENTITY(1,1) NOT NULL,
	[TENPHONG] [nvarchar](20) NULL,
	[SOGHE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/9/2024 9:36:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAIPHIM]    Script Date: 3/9/2024 9:36:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAIPHIM](
	[MALP] [int] IDENTITY(1,1) NOT NULL,
	[LOAIPHIM] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TienPhim]    Script Date: 3/9/2024 9:36:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TienPhim](
	[MaPhim] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/9/2024 9:36:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[role_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DINHDANGPHIM] ON 

INSERT [dbo].[DINHDANGPHIM] ([MADP], [DANGPHIM]) VALUES (1, N'VietNam')
INSERT [dbo].[DINHDANGPHIM] ([MADP], [DANGPHIM]) VALUES (2, N'Indo')
SET IDENTITY_INSERT [dbo].[DINHDANGPHIM] OFF
GO
SET IDENTITY_INSERT [dbo].[GHEPHONGCHIEU] ON 

INSERT [dbo].[GHEPHONGCHIEU] ([MAGHE], [MAPHONG], [TRANGTHAIGHE]) VALUES (16, 2, N'Available')
INSERT [dbo].[GHEPHONGCHIEU] ([MAGHE], [MAPHONG], [TRANGTHAIGHE]) VALUES (17, 2, N'Available')
INSERT [dbo].[GHEPHONGCHIEU] ([MAGHE], [MAPHONG], [TRANGTHAIGHE]) VALUES (18, 2, N'Available')
SET IDENTITY_INSERT [dbo].[GHEPHONGCHIEU] OFF
GO
SET IDENTITY_INSERT [dbo].[LICHCHIEU] ON 

INSERT [dbo].[LICHCHIEU] ([MAXUATCHIEU], [NGAYCHIEU], [MAPHIM], [MAPHONG], [GIOCHIEU]) VALUES (1, CAST(N'2024-02-16' AS Date), 3, 2, CAST(N'12:00:00' AS Time))
INSERT [dbo].[LICHCHIEU] ([MAXUATCHIEU], [NGAYCHIEU], [MAPHIM], [MAPHONG], [GIOCHIEU]) VALUES (3, CAST(N'2024-02-16' AS Date), 3, 3, CAST(N'22:42:00' AS Time))
INSERT [dbo].[LICHCHIEU] ([MAXUATCHIEU], [NGAYCHIEU], [MAPHIM], [MAPHONG], [GIOCHIEU]) VALUES (5, CAST(N'2024-02-16' AS Date), 2, 3, CAST(N'22:42:00' AS Time))
SET IDENTITY_INSERT [dbo].[LICHCHIEU] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIM] ON 

INSERT [dbo].[PHIM] ([MAPHIM], [MALP], [MADP], [TENPHIM], [NHASX], [NgaySX], [linkAnh]) VALUES (2, 1, 1, N'MaNoCanh2000', N'Daoo', CAST(N'2024-02-01' AS Date), N'aim')
INSERT [dbo].[PHIM] ([MAPHIM], [MALP], [MADP], [TENPHIM], [NHASX], [NgaySX], [linkAnh]) VALUES (3, 2, 2, N'Nguoi Hoc Dot', N'Daoo', CAST(N'2024-02-16' AS Date), N'https://th.bing.com/th/id/OIP.WqCWe5v5MAu9wmWjGzpWFQHaFj?w=239&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7')
INSERT [dbo].[PHIM] ([MAPHIM], [MALP], [MADP], [TENPHIM], [NHASX], [NgaySX], [linkAnh]) VALUES (4, 1, 2, N'Hello VN', N'Coder', CAST(N'2024-03-03' AS Date), N'https://rubee.com.vn/admin/webroot/upload/image/images/logo-mgm.jpg')
SET IDENTITY_INSERT [dbo].[PHIM] OFF
GO
SET IDENTITY_INSERT [dbo].[PHONGCHIEU] ON 

INSERT [dbo].[PHONGCHIEU] ([MAPHONG], [TENPHONG], [SOGHE]) VALUES (2, N'A', 5)
INSERT [dbo].[PHONGCHIEU] ([MAPHONG], [TENPHONG], [SOGHE]) VALUES (3, N'B', 10)
INSERT [dbo].[PHONGCHIEU] ([MAPHONG], [TENPHONG], [SOGHE]) VALUES (6, N'D', 10)
SET IDENTITY_INSERT [dbo].[PHONGCHIEU] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (1, N'admin')
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (2, N'user')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[THELOAIPHIM] ON 

INSERT [dbo].[THELOAIPHIM] ([MALP], [LOAIPHIM]) VALUES (1, N'Funny')
INSERT [dbo].[THELOAIPHIM] ([MALP], [LOAIPHIM]) VALUES (2, N'Troll vn')
SET IDENTITY_INSERT [dbo].[THELOAIPHIM] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [username], [password], [role_id]) VALUES (1, N'admin', N'admin', 1)
INSERT [dbo].[Users] ([user_id], [username], [password], [role_id]) VALUES (4, N'user', N'user', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UC_DINHDANGPHIM]    Script Date: 3/9/2024 9:36:29 AM ******/
ALTER TABLE [dbo].[DINHDANGPHIM] ADD  CONSTRAINT [UC_DINHDANGPHIM] UNIQUE NONCLUSTERED 
(
	[MADP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UC_KHACHHANG]    Script Date: 3/9/2024 9:36:29 AM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [UC_KHACHHANG] UNIQUE NONCLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UC_NHANVIEN]    Script Date: 3/9/2024 9:36:29 AM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [UC_NHANVIEN] UNIQUE NONCLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UC_Phim]    Script Date: 3/9/2024 9:36:29 AM ******/
ALTER TABLE [dbo].[PHIM] ADD  CONSTRAINT [UC_Phim] UNIQUE NONCLUSTERED 
(
	[MAPHIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UC_PHongChieu]    Script Date: 3/9/2024 9:36:29 AM ******/
ALTER TABLE [dbo].[PHONGCHIEU] ADD  CONSTRAINT [UC_PHongChieu] UNIQUE NONCLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UC_THELOAIPHIM]    Script Date: 3/9/2024 9:36:29 AM ******/
ALTER TABLE [dbo].[THELOAIPHIM] ADD  CONSTRAINT [UC_THELOAIPHIM] UNIQUE NONCLUSTERED 
(
	[MALP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__F3DBC572F0B28A9A]    Script Date: 3/9/2024 9:36:29 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LICHCHIEU] ADD  DEFAULT ('00:00:00') FOR [GIOCHIEU]
GO
ALTER TABLE [dbo].[DATVE]  WITH CHECK ADD FOREIGN KEY([MAGHE])
REFERENCES [dbo].[GHEPHONGCHIEU] ([MAGHE])
GO
ALTER TABLE [dbo].[DATVE]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATVE]  WITH CHECK ADD FOREIGN KEY([MAXUATCHIEU])
REFERENCES [dbo].[LICHCHIEU] ([MAXUATCHIEU])
GO
ALTER TABLE [dbo].[GHEPHONGCHIEU]  WITH CHECK ADD FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONGCHIEU] ([MAPHONG])
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KhachHang_Users]
GO
ALTER TABLE [dbo].[LICHCHIEU]  WITH CHECK ADD FOREIGN KEY([MAPHIM])
REFERENCES [dbo].[PHIM] ([MAPHIM])
GO
ALTER TABLE [dbo].[LICHCHIEU]  WITH CHECK ADD FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONGCHIEU] ([MAPHONG])
GO
ALTER TABLE [dbo].[OrderStatistics]  WITH CHECK ADD  CONSTRAINT [fk_OrderStatistics_DATVE] FOREIGN KEY([MADATVE])
REFERENCES [dbo].[DATVE] ([MADATVE])
GO
ALTER TABLE [dbo].[OrderStatistics] CHECK CONSTRAINT [fk_OrderStatistics_DATVE]
GO
ALTER TABLE [dbo].[PHIM]  WITH CHECK ADD  CONSTRAINT [FK_PHIM_DINHDANG] FOREIGN KEY([MADP])
REFERENCES [dbo].[DINHDANGPHIM] ([MADP])
GO
ALTER TABLE [dbo].[PHIM] CHECK CONSTRAINT [FK_PHIM_DINHDANG]
GO
ALTER TABLE [dbo].[PHIM]  WITH CHECK ADD  CONSTRAINT [FK_PHIM_LOAIPHIM] FOREIGN KEY([MALP])
REFERENCES [dbo].[THELOAIPHIM] ([MALP])
GO
ALTER TABLE [dbo].[PHIM] CHECK CONSTRAINT [FK_PHIM_LOAIPHIM]
GO
ALTER TABLE [dbo].[TienPhim]  WITH CHECK ADD FOREIGN KEY([MaPhim])
REFERENCES [dbo].[PHIM] ([MAPHIM])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD CHECK  ((datediff(year,[NGAYSINH],getdate())>=(13)))
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD CHECK  ((datediff(year,[NGAYSINH],getdate())>=(13)))
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD CHECK  ((datediff(year,[NGAYSINH],getdate())>=(13)))
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD CHECK  ((datediff(year,[NGAYSINH],getdate())>=(13)))
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD CHECK  ((datediff(year,[NGAYSINH],getdate())>=(13)))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  ((datediff(year,[NGAYSINH],getdate())>=(18)))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  ((datediff(year,[NGAYSINH],getdate())>=(18)))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  ((datediff(year,[NGAYSINH],getdate())>=(18)))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  ((datediff(year,[NGAYSINH],getdate())>=(18)))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  ((datediff(year,[NGAYSINH],getdate())>=(18)))
GO
USE [master]
GO
